<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-tabs type="border-card">
        <el-tab-pane label="数据查询">
            <el-container>
                <el-header height="100">数据查询</el-header>
                <el-main>
                    <el-form :inline="true" :model="query" ref="queryForm" class="demo-form-inline">
                        <el-form-item label="国家">
                            <el-select filterable v-model="query.countryId" placeholder="选择国家" @change="changeCountry">
                                <el-option
                                        v-for="item in query.countryList"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[0]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="联赛">
                            <el-select clearable filterable v-model="query.gamesId" placeholder="选择联赛" @change="changeLisai">
                                <el-option
                                        v-for="item in query.games"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[1]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <br/>
                        <el-form-item label="主队">
                            <el-select clearable
                                       v-model="query.firstTeam"
                                       filterable
                                       reserve-keyword
                                       @change="findKeTeam"
                                       placeholder="输入主队名称"
                            >
                                <el-option
                                        v-for="item in query.firstTeams"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[0]">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="客队">
                            <el-select clearable
                                       v-model="query.secondTeam"
                                       filterable
                                       reserve-keyword
                                       placeholder="选择客队名称"
                            >
                                <el-option
                                        v-for="item in query.secondTeams"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[0]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <br/>
                        <el-form-item label="博彩公司">
                            <el-select clearable  multiple
                                       v-model="query.bocaiGs"
                                       filterable
                                       reserve-keyword
                                       placeholder="请选择博彩公司"
                            >
                                <el-option
                                        v-for="item in query.bocaiGsNames"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[1]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="初盘" prop="pankou">
                            <el-select clearable  multiple
                                       v-model="query.pankou"
                                       filterable
                                       reserve-keyword
                                       placeholder="请选择盘口"
                            >
                                <el-option
                                        v-for="item in query.pankouList"
                                        :key="item[0]"
                                        :label="item[2]"
                                        :value="item[2]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="终盘" prop="finally_pankou">
                            <el-select clearable  multiple
                                       v-model="query.finally_pankou"
                                       filterable
                                       reserve-keyword
                                       placeholder="请选择盘口"
                            >
                                <el-option
                                        v-for="item in query.pankouList"
                                        :key="item[0]"
                                        :label="item[2]"
                                        :value="item[2]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <br/>
                        <el-form-item label="时间">
                            <el-date-picker
                                    v-model="query.bisaiTime"
                                    type="daterange"
                                    align="right"
                                    unlink-panels
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期"
                                    format="yyyy-MM-dd"
                                    value-format="yyyy-MM-dd"
                                    :picker-options="pickerOptions2">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                            <el-button @click="resetForm">重置</el-button>
                            <el-button type="primary" @click="syscPankou">同步博彩公司盘口</el-button>
                        </el-form-item>
                    </el-form>
                    <template>
                        <el-table
                                :data="query.queryData"
                                style="width: 100%">
                            <el-table-column
                                    prop="date"
                                    label="比赛时间"
                                    width="140">
                            </el-table-column>
                            <el-table-column
                                    prop="firstT"
                                    label="主队"
                                    width="120">
                            </el-table-column>
                            <el-table-column
                                    prop="secondT"
                                    label="客队"
                                    width="120">
                            </el-table-column>
                            <el-table-column
                                    prop="full_score"
                                    label="全场比分"
                                    width="100">
                            </el-table-column>
                            <el-table-column
                                    prop="half_score"
                                    label="半场比分"
                                    width="100">
                            </el-table-column>

                            <el-table-column label="让球" align="center">
                                <el-table-column
                                        prop="full_concede"
                                        label="全场">
                                </el-table-column>
                                <el-table-column
                                        prop="half_concede"
                                        label="半场">
                                </el-table-column>
                            </el-table-column>
                            <el-table-column label="大小" align="center"  >
                                <el-table-column
                                        prop="full_bigsmall"
                                        label="全场">
                                </el-table-column>
                                <el-table-column
                                        prop="half_bigsmall"
                                        label="半场">
                                </el-table-column>
                            </el-table-column>
                            <el-table-column
                                    prop="bocaiGs"
                                    label="博彩公司">
                            </el-table-column>
                            <el-table-column
                                    prop="pankouName"
                                    label="盘口">
                            </el-table-column>
                            <el-table-column label="初盘" align="center">
                                <el-table-column
                                        prop="first_zhudui"
                                        label="主队">
                                </el-table-column>
                                <el-table-column
                                        prop="first_pankou_alias"
                                        label="盘口">
                                </el-table-column>
                                <el-table-column
                                        prop="first_cidui"
                                        label="客队">
                                </el-table-column>
                            </el-table-column>
                            <el-table-column label="终盘" align="center">
                                <el-table-column
                                        prop="finally_zhudui"
                                        label="主队">
                                </el-table-column>
                                <el-table-column
                                        prop="finally_pankou_alias"
                                        label="盘口">
                                </el-table-column>
                                <el-table-column
                                        prop="finally_cidui"
                                        label="客队">
                                </el-table-column>
                            </el-table-column>
                            <el-table-column label="操作" align="center" prop="id">
                                <template slot-scope="scope">
                                    <el-button @click="handleClick(scope.row)" v-if="scope.row.id" type="text" size="small">查看</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                    <template>
                        <div align="right">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="query.currentPage"
                                    :page-sizes="[2,10, 20, 50, 100]"
                                    :page-size="query.pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="query.total">
                            </el-pagination>
                        </div>
                    </template>
                </el-main>
            </el-container>
        </el-tab-pane>
        <el-tab-pane label="数据同步">
            <el-container>
                <el-header height="100">同步基础数据（国家/联赛/年度）</el-header>
                <el-main>
                    <el-form :inline="true"  :model="query" ref="syncBaseForm" class="demo-form-inline">
                        <el-form-item>
                            <el-button type="primary" @click="syscBaseData">同步数据</el-button>
                        </el-form-item>
                    </el-form>
                </el-main>
            </el-container>
            <el-container>
                <el-header height="100">同步比赛</el-header>
                <el-main>
                    <el-form :inline="true" :model="query" ref="syncForm" class="demo-form-inline">
                        <el-form-item label="国家">
                            <el-select filterable v-model="query.countryId" placeholder="选择国家" @change="changeCountry">
                                <el-option
                                        v-for="item in query.countryList"
                                        :key="item[3]"
                                        :label="item[1]"
                                        :value="item[3]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="联赛">
                            <el-select clearable filterable v-model="query.gamesId" placeholder="选择联赛">
                                <el-option
                                        v-for="item in query.games"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[1]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="赛季">
                            <el-select clearable filterable v-model="query.year" placeholder="选择赛季">
                                <el-option
                                        v-for="item in query.years"
                                        :key="item[0]"
                                        :label="item[1]"
                                        :value="item[1]">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="syscBisaiData">同步数据</el-button>
                        </el-form-item>
                    </el-form>
                </el-main>
            </el-container>
        </el-tab-pane>
    </el-tabs>

</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                loading: false,
                query: {
                    countryList: [],
                    games: [],
                    years: [],
                    firstTeams:[],
                    secondTeams:[],
                    queryData:[],
                    bocaiGsNames:[],
                    pankouList:[],
                    countryId: null,
                    gamesId: null,
                    year: null,
                    bisaiTime: null,
                    firstTeam:null,
                    secondTeam:null,
                    currentPage:1,
                    finally_pankou:null,
                    pankou:null,
                    pageSize:10,
                    total:0,
                    bocaiGs:null
                },
                pickerOptions2: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick: function(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick: function(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick: function(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        },
                    },
                        {
                            text: '最近一年',
                            onClick: function(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: '最近二年',
                            onClick: function(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 365 * 2);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: '最近五年',
                            onClick: function(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 365 * 5);
                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ]
                }
            };
        },
        mounted: function () {
            this.$http.get('/findCountry').then(function (res) {
                this.query.countryList = res.body;
            }, function () {
                console.log('请求失败处理');
            });
            this.$http.get('/findBocaiGsNames').then(function (res) {
                this.query.bocaiGsNames = res.body;
            }, function () {
                console.log('请求失败处理');
            });
            this.$http.get('/findPankouLabel').then(function (res) {
                this.query.pankouList = res.body;
            }, function () {
                console.log('请求失败处理');
            });
        }
        ,
        methods: {
            resovle:function (data) {
                if(data && data<=0.75) {
                    return "超低水"
                }
                if(data && data>0.75 &&  data<=0.85) {
                    return "低水"
                }
                if(data && data>0.85 &&  data<=0.95) {
                    return "中水"
                }
                if(data && data>0.95 &&  data<=1.08) {
                    return "高水"
                }
                if(data && data>1.08) {
                    return "超高水"
                }
            },
            resovlePankou:function (data) {
                if(!data) {
                    return data;
                }
                var drect="";
                var number = data.indexOf("让");
                if(number!=-1) {
                    drect = "-";
                }
                data=data.substr(number+1,data.length)
                if(data && data=='半球') {
                    drect=drect+"0.5"
                }
                if(data && data=='半/一') {
                    drect=drect+"0.75"
                }
                if(data && (data=='平'||data=='平手')) {
                    drect=drect+"0"
                }
                if(data && data=='平/半') {
                    drect=drect+"0.25"
                }
                if(data && data=='一/球半') {
                    drect=drect+"1.25"
                }    if(data && data=='一球') {
                    drect=drect+"1"
                }
                if(data && data=='球半') {
                    drect=drect+"1.5"
                }
                if(data && data=='球半/两') {
                    drect=drect+"1.5"
                }
                return drect+"("+data+")";
            },
            onSubmit: function () {;
                this.$refs["queryForm"].validate(function (valid) {
                    if (!valid) {
                        return false;
                    }
                });
                this.$http.post('/query/'+this.query.currentPage+'/'+this.query.pageSize,
                    {
                        begin: this.query.bisaiTime?this.query.bisaiTime[0]:null,
                        end:this.query.bisaiTime?this.query.bisaiTime[1]:null,
                        firstTeam: this.query.firstTeam,
                        secondTeam: this.query.secondTeam,
                        bocaiGs:this.query.bocaiGs,
                        pankou:this.query.pankou,
                        finally_pankou:this.query.finally_pankou,
                        countryId:this.query.countryId,
                        gameId:this.query.gamesId
                    },
                    {
                        emulateJSON: true
                    }
                ).then(function (res) {
                    datas = new Array();
                    var id = undefined;
                    dataList = res.body.data;
                    for(var i=0;i<dataList.length;i++) {
                        var item = dataList[i];
                        var first_zhudui=this.resovle(item[11])
                        var first_cidui=this.resovle(item[13])
                        var finally_zhudui=this.resovle(item[14])
                        var finally_cidui=this.resovle(item[16])
                        var first_pankou=this.resovlePankou(item[12])
                        var finally_pankou=this.resovlePankou(item[15])
                        var first_pankou_alias=item[18]
                        var finally_pankou_alias=item[19]
                        if(id && id==item[0]){
                            datas.push({
                                bocaiGs: item[10],
                                first_zhudui: first_zhudui,
                                first_pankou: first_pankou,
                                first_cidui: first_cidui,
                                finally_zhudui: finally_zhudui,
                                finally_pankou: finally_pankou,
                                finally_cidui: finally_cidui,
                                pankouName: item[17],
                                first_pankou_alias:first_pankou_alias,
                                finally_pankou_alias: finally_pankou_alias
                            });
                            continue;
                        }
                        id=item[0];
                        datas.push({
                            id: item[0],
                            date: item[1],
                            firstT: item[2],
                            secondT: item[3],
                            full_score: item[4],
                            full_concede: item[5],
                            full_bigsmall:item[6],
                            half_score: item[7],
                            half_concede: item[8],
                            half_bigsmall:item[9],
                            bocaiGs: item[10],
                            first_zhudui: first_zhudui,
                            first_pankou: first_pankou,
                            first_cidui: first_cidui,
                            finally_zhudui: finally_zhudui,
                            finally_pankou: finally_pankou,
                            finally_cidui: finally_cidui,
                            pankouName: item[17],
                            first_pankou_alias:first_pankou_alias,
                            finally_pankou_alias: finally_pankou_alias
                        });
                    }
                    this.query.queryData = datas
                    this.query.total=res.body.total
                }, function () {
                    console.log('请求失败处理');
                });
            },
            changeLisai:function () {
                this.findFirstTeam();
                this.findKeTeam()
            },
            changeCountry: function () {
                this.query.gamesId = undefined;
                this.query.firstTeam = undefined;
                this.query.secondTeam = undefined;
                this.$http.get('/findGames/' + this.query.countryId).then(function (res) {
                    this.query.games = res.body
                }, function () {
                    console.log('请求失败处理');
                });
                this.query.year = undefined;
                this.$http.get('/findYears/' + this.query.countryId).then(function (res) {
                    this.query.years = res.body
                }, function () {
                    console.log('请求失败处理');
                });
            },
            findFirstTeam:function (v) {
                this.query.firstTeam = undefined;
                this.query.secondTeam = undefined;
                if(v && v.length<1) {
                    return
                }
                this.$http.get('/findTeam',{params:{gameId:this.query.gamesId,countryId:this.query.countryId}}).then(function (res) {
                    this.query.firstTeams = res.body
                }, function () {
                    console.log('请求失败处理');
                });
            },
            findKeTeam:function (v) {
                this.query.secondTeam = undefined;
                this.$http.get('/findKeTeam',{params:{firstTeamId:this.query.firstTeam,gameId:this.query.gamesId,countryId:this.query.countryId}}).then(function (res) {
                    this.query.secondTeams= res.body
                }, function () {
                    console.log('请求失败处理');
                });
            },
            resetForm:function () {
                this.query.countryId = undefined;
                this.query.gamesId = undefined;
                this.query.year = undefined;
                this.query.bisaiTime = undefined;
                this.query.firstTeam = undefined;
                this.query.secondTeam = undefined;
                this.query.pankou= [];
                this.query.finally_pankou = [];
                this.query.bocaiGs = [];
                this.query.firstTeams = [];
                this.query.secondTeams = [];
                this.query.games = [];
            },
            handleSizeChange:function(val) {
               this.query.pageSize=val;
               this.query.currentPage=1;
               this.onSubmit()
            },
            handleCurrentChange:function(val) {
                this.query.currentPage=val;
                this.onSubmit()
            },
            syscPankou:function () {
                if(!this.query.firstTeam || !this.query.secondTeam){
                    this.$alert('请选择需要同步的球队', '提示', {
                        confirmButtonText: '确定',
                        callback: function () {
                        }
                    });
                    return;
                }

                this.$http.get('/syscPankou',{params:{firstTeamId:this.query.firstTeam,secondTeamsId:this.query.secondTeam}}).then(function (res) {
                    this.$alert('同步成功', '提示', {
                        confirmButtonText: '确定',
                        callback: function () {
                        }
                    });
                    this.onSubmit()
                }, function () {
                    console.log('请求失败处理');
                });
            },
            handleClick:function (row) {
                window.open("http://vip.win0168.com/AsianOdds_n.aspx?id="+row.id)
            },
            syscBisaiData:function () {
                if(!this.query.countryId){
                    this.$alert('请选择国家', '提示', {
                        confirmButtonText: '确定'
                    });
                    return;
                }
                if(!this.query.gamesId){
                    this.$alert('请选择联赛', '提示', {
                        confirmButtonText: '确定'
                    });
                    return;
                }
                this.$http.get('/syscBisaiData',{params:{countryId:this.query.countryId,gamesId:this.query.gamesId,year:this.query.year}}).then(function (res) {
                    this.$alert('同步成功', '提示', {
                        confirmButtonText: '确定'
                    });
                }, function () {
                    console.log('请求失败处理');
                });
            },
            syscBaseData:function () {
                this.$http.get('/syscBaseData').then(function (res) {
                    this.$alert('同步成功', '提示', {
                        confirmButtonText: '确定'
                    });
                }, function () {
                    console.log('请求失败处理');
                });
            }
        }
    });
</script>
</html>